@{
   ViewBag.Title = "Github Namshub";
}

<div class="container" id="github-app"></div>

<script type="text/x-handlebars" data-template-name="application">
   <div class="row">
      <div class="col-md-12">
         <h1>Github Namshub</h1>
         <hr />
         {{outlet}}
      </div>
   </div>
</script>

<script type="text/x-handlebars" data-template-name="index">
   <p>This is the Github explorer for developers</p>
   <ul>
      {{#each}}
      <li>{{#link-to 'user' this}}{{name}}{{/link-to}}</li>
      

      {{/each}}
   </ul>
   <p>{{renderedOn}}</p>
</script>

<script type="text/x-handlebars" data-template-name="user">
   <h3>{{name}}'s Github</h3>
</script>

@Scripts.Render("~/bundles/ember")

<script>

   var devs = [{ login: "doughill1000", name: "Doug Hill" }]

   window.Github = Ember.Application.create({
      rootElement: "#github-app"
   });

   Github.IndexRoute = Ember.Route.extend({
      model: function ReturnDevs() { return devs }

   });

   Github.Router.map(function () {
      this.resource('user', { path: "/users/:login" });
   });

   Github.UserRoute = Ember.Route.extend({
      model: function (params) {
         return Ember.$.getJSON("https://api/github.com/users/" + params.login);
      }
   });
</script>
